/* div{ display: inline-block;
margin-top: 60px;
margin-left: 430px;
border-radius: 200px;
margin-bottom: 30vh;
    height: 400px;
    width: 400px;
    background-color: crimson;
}
body{
    background-color: azure;
} */
 div{
    height: 400px;
    width:400px;
    border-radius: 50%;
    background-color: crimson;
    margin: auto;
    /* margin auto fil the element in middle */
 }